.task-breakdown-container .task-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #8c97a8;
  display: flex;
  align-items: center;
}

.task-breakdown-container .task-icon {
  width: 34px;
  height: 34px;
  background: #f3f7fd;
  border-radius: 50%;
  margin-right: 12px;
}

.task-breakdown-container .task-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 22px 20px 33px 20px;
  margin-right: 3%;
  width: 100%;
}

.task-breakdown-container .task-card:last-child {
  margin-right: 0;
}

.task-breakdown-container .task-items {
  display: flex;
  justify-content: space-between;
}

.task-breakdown-container .task-count {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #1e1e1e;
}

.task-breakdown-container .title-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
  border-bottom: 1px solid#E8EDF1;
}

.task-breakdown-container .graph-more {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.task-breakdown-container .more {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #768396;
}

.task-breakdown-container .more-count {
  color: #299702;
}

.task-breakdown-container .from {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #768396;
  margin-top: 4px;
}

.task-breakdown-container .cards {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.task-breakdown-container .cards {
  scrollbar-width: thin;
  scrollbar-color: #f3f4f8 #f3f4f8;
}
/* width */
.task-breakdown-container .cards::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.task-breakdown-container .cards::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f3f4f8;
  border-radius: 5px;
}

/* Handle */
.task-breakdown-container .cards::-webkit-scrollbar-thumb {
  background: #f3f4f8;
  border-radius: 5px;
}

/* Handle on hover */
.task-breakdown-container .cards::-webkit-scrollbar-thumb:hover {
  background: #f3f4f8;
}

