.chart-container {
  padding: 24px 27px 24px 24px;
  background: #ffffff;
  border-radius: 16px;
  margin-top: 21px;
  overflow: auto;
}

.chart-container {
  scrollbar-width: thin;
  scrollbar-color: #f3f4f8 #f3f4f8;
}
/* width */
.chart-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.chart-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f3f4f8;
  border-radius: 5px;
}

/* Handle */
.chart-container::-webkit-scrollbar-thumb {
  background: #f3f4f8;
  border-radius: 5px;
}

/* Handle on hover */
.chart-container::-webkit-scrollbar-thumb:hover {
  background: #f3f4f8;
}

.chart-container .task-down-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.chart-container .task-down {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  color: #005555;
}

.chart-container .freq {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #005555;
  margin-left: 40px;
  cursor: pointer;
}

.chart-container .active {
  padding-bottom: 4px;
  border-bottom: 2px solid#F8B400;
  color: #f8b400;
}

.chart-container .freq-items {
  display: flex;
  padding-right: 10px;
}

.canvasjs-chart-credit {
  display: none;
}

@media screen and (max-width: 767px) {
  .chart-container .freq-items {
    padding-right: 15px;
  }
}
