.tasks-container {
}

.tasks-container .task-title {
  display: flex;
  justify-content: space-between;
  padding: 24px 27px 24px 24px;
  background: #ffffff;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 21px;
}

.tasks-container .task {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  color: #005555;
}

.tasks-container .select-value {
  width: 92px;
  height: 35px;
  background: #e8edf1;
  border: 1px solid #4ba8a8;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 9px;
  cursor: pointer;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;

  color: #738383;
}

.tasks-container .select-option {
  position: relative;
}
.tasks-container .options {
  position: absolute;
  width: 92px;
  background: #ffffff;
  border: 1px solid #c8ccd7;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 2px;
}

.tasks-container .option-item {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  color: #738383;
  margin-left: 7px;
}

.tasks-container .option-active {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  color: #1e1e1e;
}

.tasks-container .select-icon {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #e3e8ee;
  border-radius: 50%;
}

.tasks-container .select-icon-active {
  width: 8px;
  height: 8px;
  background: #ffffff;
  border: 3px solid #4ba8a8;
  border-radius: 50%;
}

.tasks-container .select-items {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.tasks-container .progress {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;

  color: #4ba8a8;
}
.tasks-container .table-content {
  background: #ffffff;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  overflow: auto;
}

.tasks-container #table {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
}

.tasks-container #table th,
.tasks-container #table td {
  text-align: left;
  font-style: normal;
  border-bottom: 1px solid #e8edf1;
  padding: 16px 24px 15px 24px;
}

.tasks-container #table th {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #768396;
}

.tasks-container #table td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #1e1e1e;
}

/* background: */
progress::-webkit-progress-bar {
  background-color: #e3e8ee;
  width: 100%;
  height: 5px !important;
  border-radius: 6px !important;
}
progress {
  background-color: #e3e8ee;
  height: 5px !important;
  border-radius: 6px !important;
}

/* value: */
progress::-webkit-progress-value {
  background-color: #4ba8a8 !important;
  height: 5px !important;
  border-radius: 6px !important;
}
progress::-moz-progress-bar {
  background-color: #4ba8a8 !important;
  height: 5px !important;
  border-radius: 6px !important;
}
progress {
  color: #4ba8a8;
  height: 5px !important;
  border-radius: 6px !important;
}

.tasks-container .more {
  position: absolute;
  width: 79px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 7px 6px 4px 10px;
  z-index: 100;
}

.tasks-container .more-option {
  position: relative;
}

.tasks-container .item {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

  color: #738383;
  margin-bottom: 4px;
}

.ellipsis {
  cursor: pointer;
}

.tasks-container .table-content {
  scrollbar-width: thin;
  scrollbar-color: #f3f4f8 #f3f4f8;
}
/* width */
.tasks-container .table-content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.tasks-container .table-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f3f4f8;
  border-radius: 5px;
}

/* Handle */
.tasks-container .table-content::-webkit-scrollbar-thumb {
  background: #f3f4f8;
  border-radius: 5px;
}

/* Handle on hover */
.tasks-container .table-content::-webkit-scrollbar-thumb:hover {
  background: #f3f4f8;
}

