.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
